.rhymes-preview {
  background: ghostwhite;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
}

.rhyme-line {
  width: 100%;
  height: 5px;
  background-color: #B3B6B7;
  margin-bottom: 8px;
}