.profile {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  text-decoration: underline;
  height: 53px;
  padding: 0 20px;
  background-color: black;
  border-radius: 6px;
  transition: background-color 2s ease-in;
}

.profile-loaded {
  background-color: white;
}

.profile a {
  color: inherit;
}