.moon-wrapper-wrapper {
  height: 100%;
}

.moon-wrapper {
  height: 100%;
  background-color: blue;
  position: relative;
}

.moon {
  border-radius: 50px;
  background-color: black;
  position: absolute;
}