.play {
  background: eggshell;
  padding: 5%;
  text-align: center;
  color: #626567;
}

.play-projects {
  display: flex;
  justify-content: space-around;
  max-width: 1120px;
  margin: 0 auto;
  margin-top: 10%;
}

.showcase-wrapper {
  margin-right: 20px;
}

.preview-wrapper {
  border-radius: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .play-projects {
    flex-direction: column;
  }

  .showcase-wrapper {
    margin-right: 0;
  }
}