.nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  width: 100px;
  text-align: right;
  margin: 10px;
  height: 43px;
  overflow: hidden;
  color: rgb(98, 101, 103, 0.6);
  font-weight: 600;
}

.nav-bar:hover {
  height: auto;
}

.nav-bar a {
  color: inherit;
  text-decoration: none;
}

.profile {
  font-family: 'Pacifico', cursive;
  text-decoration: underline;
  background-color: white;
  font-size: 21px;
  color:hsl(204, 2%, 29%);
}

.nav-link-choice {
  display: inline-block;
  padding: 5px 10px;
  background-color: rgba(0,0,0,0);
  margin-bottom: 10px;
  border-radius: 3px;
  border: solid 1px rgba(0,0,0,0);
  transition: background-color ease-out 400ms;
}

.nav-link-choice-sub {
  transition: transform linear 150ms;
}

.choice-1 {
  transform: translateX(50px);
}
.choice-2 {
  transform: translateX(100px);
}

.nav-bar:hover .nav-link-choice {
  background-color: rgba(0,0,0,0.05);
}

.nav-bar:hover .nav-link-choice-sub {
  transform: translateX(0);
}

.nav-link-choice:hover {
  border: solid 1px rgba(0,0,0,0.2);
}