.nav-bar {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 100;
  opacity: 0.1;
  transition: opacity 600ms ease-out;
  padding-bottom: 20px;
}

.nav-bar:hover {
  opacity: .65;
}

.nav-bar-placeholder {
  width: 100%;
  visibility: hidden;
}