.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgoldenrodyellow;
  border-radius: 100%;
  height: 150px;
  width: 150px;
}

.little-button {
  width: 30px;
  height: 15px;
  background-color: cornflowerblue;
  border-radius: 4px;
}

.little-button:hover {
  background-color: red;
}