.work {
  background: eggshell;
  padding: 5%;
  color: #626567;
  width: 800px;
  max-width: 98%;
  margin: 0 auto;
}

.work-title {
  text-align: center;
}

.bold-it {
  font-weight: 600;
  font-size: 20px;
}

.intro {
  margin: 40px auto;
  text-align: center;
}